<div class="row">
  <div class="span6" style="padding-bottom: 18px;">
    <%= image_tag @service.image.url(:large) %>
  </div>
  <div class="span6">
    <h2>
      <% if logged_in? %>
        <span class="label <%= @service.active == true ? "label-success" : "label-important"%>"><%= @service.active == true ? "Active" : "Inactive"%></span>
      <% end %>
      <%= @service.name %>
     </h2>
    <hr>
    <dl class="dl-horizontal">
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Price</strong></dt>
      <dd style="margin-bottom: 9px;"><strong><%= number_to_currency @service.price %></strong></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Description</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @service.description %></dd>
    </dl>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Back",
              services_path, :class => 'btn'  %>
  <% if logged_in? %>
  <%= link_to "Edit",
              edit_service_path(@service), :class => 'btn' %>
  <%= link_to "Destroy",
              service_path(@service),
              :method => 'delete',
              :confirm => "Are you sure?",
              :class => 'btn btn-danger' %>
  <% end %>
</div>