<% content_for :title, "Team RV - " + @part.name %>
<% content_for :description, @part.description %>

<div class="row">
  <div class="span6" style="padding-bottom: 18px;">
    <%= image_tag @part.image.url(:large), :alt => @part.name %>
  </div>
  <div class="span6">
    <h2><%= @part.name %></h2>
    <hr>
    <dl class="dl-horizontal">
      <dt style="text-align: left; margin-bottom: 9px;"><strong>List Price</strong></dt>
      <dd style="margin-bottom: 9px; text-decoration: line-through;"><%= number_to_currency @part.list_price %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Price</strong></dt>
      <dd style="margin-bottom: 9px;"><strong><%= number_to_currency @part.price %>*</strong></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Part Number</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @part.part_number %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Condition</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @part.condition %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Description</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @part.description %></dd>
    </dl>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Back",
              parts_path, :class => 'btn'  %>
  <% if logged_in? %>
  <%= link_to "Edit",
              edit_part_path(@part), :class => 'btn' %>
  <%= link_to "Destroy",
              part_path(@part),
              :method => 'delete',
              :confirm => "Are you sure?",
              :class => 'btn btn-danger' %>
  <% end %>
</div>

<div class="row">
  <div class="span12">
    <p><small>* Price excludes tax. Price and availability are subject to change without notice. Part may be subject to prior sale. We are not responsible for typographical errors in the price or description.</small></p>
  </div>
</div>