<% content_for :title, "Team RV - " + get_title(@rv) %>
<% content_for :description, @rv.description %>

<div class="row">
  <div class="span12">
    <% if !@rv.tag[:title].nil? && !@rv.tag[:title].empty? %>
      <span class="pull-right-sm mt-20-sm label <%= get_class_for_color(@rv.tag[:color]) %>"><%= @rv.tag[:title] %></span>
    <% end %>
    <h2><%= get_title(@rv) %></h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="span8 rv-details-ipad-fix">
      <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <% if @rv.assets.length > 0 %>
            <% @rv.assets.each_with_index do |asset, index| %>
              <div class="item <%= index == 0 ? "active" : "" %>">
                <%= image_tag asset.asset.url(:large), :alt => get_title(@rv) %>
              </div>
            <% end %>
          <% else %>
            <div class="item active">
              <img src="/assets/images_coming_soon_large.jpg">
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
      </div>
  </div>
  <div class="span4 rv-details-ipad-fix">
    <dl class="dl-horizontal">
      <dt style="text-align: left; margin-bottom: 9px;"><strong>List Price</strong></dt>
      <dd style="margin-bottom: 9px; text-decoration: line-through;"><%= number_to_currency @rv.list_price %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong><a rel="popover" data-toggle="popover" data-placement="bottom" data-trigger="click hover" title="" data-content="<ul><li>GA Sales Tax (7%)</li><li>Tag & Title Registration</li><li>Delivery Fees</li><li>Document Fees</li><li>Propane Tanks Filled</li><li>Sewer Hose</li><li>Drinking Water Hose</li><li>30/15 Electrical Adapter</li><li>Customer Orientation</li><li>Pre-Delivery Inspection</li></ul>" data-original-title="The <strong>Drive Out Price</strong> includes the following:">Drive Out Price</a></strong></dt>
      <dd style="margin-bottom: 18px;"><p style="font-size: 24.5px; font-weight: bold; color: #0088cc;"><%= number_to_currency(@rv.price, precision: 0) %>*</p></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Estimated Payment</strong></dt>
      <dd style="margin-bottom: 9px;">
        <strong><%= number_to_currency @rv.get_default_payment %> / mo**</strong>
        <a href="#myModal" role="button" class="btn btn-primary btn-small" data-toggle="modal"><i class="icon-plus"></i></a>
      </dd>
      <% if logged_in? %>
        <dt style="text-align: left; margin-bottom: 9px;"><strong>Cost</strong></dt>
        <dd style="margin-bottom: 9px;"><%= number_to_currency @rv.cost %></dd>
      <% end %>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Stock Number</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.stock_number %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Length</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.length %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Category</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.category %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Condition</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.condition %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Description</strong></dt>
      <dd style="margin-bottom: 9px;"><%= simple_format(@rv.description) %></dd>
    </dl>
  </div>
</div>

<!--
<div class="row">
  <div class="span6 rv-details-ipad-fix">
      <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <% if @rv.assets.length > 0 %>
            <% @rv.assets.each_with_index do |asset, index| %>
              <div class="item <%= index == 0 ? "active" : "" %>">
                <%= image_tag asset.asset.url(:large), :alt => get_title(@rv) %>
              </div>
            <% end %>
          <% else %>
            <div class="item active">
              <img src="/assets/images_coming_soon_large.jpg">
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
      </div>
  </div>
  <div class="span6 rv-details-ipad-fix">
    <% if !@rv.tag[:title].nil? && !@rv.tag[:title].empty? %>
      <span class="label <%= get_class_for_color(@rv.tag[:color]) %>"><%= @rv.tag[:title] %></span>
    <% end %>
    <h2><%= get_title(@rv) %></h2>
    <hr>
    <dl class="dl-horizontal">
      <dt style="text-align: left; margin-bottom: 9px;"><strong>List Price</strong></dt>
      <dd style="margin-bottom: 9px; text-decoration: line-through;"><%= number_to_currency @rv.list_price %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong><a rel="popover" data-toggle="popover" data-placement="bottom" data-trigger="click hover" title="" data-content="<ul><li>GA Sales Tax (7%)</li><li>Tag & Title Registration</li><li>Delivery Fees</li><li>Document Fees</li><li>Propane Tanks Filled</li><li>Sewer Hose</li><li>Drinking Water Hose</li><li>30/15 Electrical Adapter</li><li>Customer Orientation</li><li>Pre-Delivery Inspection</li></ul>" data-original-title="The <strong>Drive Out Price</strong> includes the following:">Drive Out Price</a></strong></dt>
      <dd style="margin-bottom: 9px;"><strong><%= number_to_currency @rv.price %>*</strong></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Estimated Payment</strong></dt>
      <dd style="margin-bottom: 9px;">
        <strong><%= number_to_currency @rv.get_default_payment %>** / month</strong><br>
        <small><%= @rv.get_default_term %> Years @ <%= @rv.get_default_interest_rate %>% APR (<%= number_to_currency @rv.get_default_down_payment %> Down Payment)
        </small><br>
        <a href="#myModal" role="button" class="btn btn-primary btn-small" data-toggle="modal">Calculate another payment</a>
      </dd>
      <% if logged_in? %>
        <dt style="text-align: left; margin-bottom: 9px;"><strong>Cost</strong></dt>
        <dd style="margin-bottom: 9px;"><%= number_to_currency @rv.cost %></dd>
      <% end %>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Stock Number</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.stock_number %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Length</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.length %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Category</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.category %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Condition</strong></dt>
      <dd style="margin-bottom: 9px;"><%= @rv.condition %></dd>
      <dt style="text-align: left; margin-bottom: 9px;"><strong>Description</strong></dt>
      <dd style="margin-bottom: 9px;"><%= simple_format(@rv.description) %></dd>
    </dl>
  </div>
</div>
-->

<div class="form-actions">
  <%= link_to "Back",
              rvs_path, :class => 'btn'  %>
  <% if logged_in? %>
    <%= link_to "Edit",
                edit_rv_path(@rv), :class => 'btn' %>
    <%= link_to "Destroy",
                rv_path(@rv),
                :method => 'delete',
                :confirm => "Are you sure?",
                :class => 'btn btn-danger' %>
  <% end %>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel" style="margin: 0px">Payment Calculator</h2>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" style="margin-bottom: 0px">
      <div class="control-group">
        <label class="control-label" for="">Price</label>
        <div class="controls">
          <input id="price" type="number" min=1 step="any" value="<%= number_with_precision(@rv.price, precision: 2) %>" required>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">Down Payment</label>
        <div class="controls">
          <input id="downPayment" type="number" min=1 step="any" value="<%= number_with_precision(@rv.get_default_down_payment, precision: 2) %>" required>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">Term <small>(Years)</small></label>
        <div class="controls">
          <input id="term" type="number" min=1 max=20 step="any" value="<%= @rv.get_default_term %>" required>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">Interest Rate</label>
        <div class="controls">
          <input id="rate" type="number" min=1 step="any" value="5.9" required>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" style="margin-bottom: 0px">
        <label class="control-label" for="">Payment</label>
        <div class="controls">
          <p id="payment" class="lead" style="margin-bottom: 0px"><%= number_to_currency(number_with_precision(@rv.get_default_payment, precision: 2)) %></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="recalculate" class="btn btn-primary">Recalculate</button>
  </div>
</div>

<div class="row">
  <div class="span12">
  <h2>Request More Information</h2>
  <p>Call us today at <a href="tel:+12294355852">(229) 435-5852</a> or complete the form below.</p>
  <hr>
  <%= form_for @rv_request, :url => send_rv_request_path do |f| %>
      <%= f.hidden_field :id, :value => @rv.id %>
      <div class="row">
        <div class="control-group span4 <%= @rv_request.errors.has_key?(:name) ? "error": "" %>">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "span4" %>
        </div>
        <div class="control-group span4 <%= @rv_request.errors.has_key?(:email) ? "error": "" %>">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "span4" %>
        </div>
        <div class="control-group span4 <%= @rv_request.errors.has_key?(:phone) ? "error": "" %>">
          <%= f.label :phone %>
          <%= f.text_field :phone, :class => "span4" %>
        </div>
        <div class="control-group span12 <%= @rv_request.errors.has_key?(:questions_or_comments) ? "error": "" %>">
          <%= f.label :questions_or_comments %>
        <%= f.text_area :questions_or_comments, :class => "span12", :rows => 10, :maxlength => 1220 %>
        </div>
      </div>
    <button class="btn btn-primary">Submit</button>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p><small>* Effective 12/01/2015: Price includes tax, tag, and title. Price and availability are subject to change without notice. RV may be subject to prior sale. We are not responsible for typographical errors in the price or description. ** Payment estimated with <%= @rv.get_default_term %> Years @ <%= @rv.get_default_interest_rate %>% APR (<%= number_to_currency @rv.get_default_down_payment %> Down Payment). Annual percentage rate (APR), loan term, and interest rate may vary based upon applicant's FICO score, credit history, or age of vehicle.</small></p>
  </div>
</div>
