<div class="row">
  <div class="span12">
    <div id="map_canvas" style="height: 370px; width: 100%;"></div>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h2 style="margin-top: 30px;">Contact Details</h2>
    <hr>
    <address>
      <strong>Team RV, Inc.</strong><br>
      1218 Liberty Expy SE<br>
      Albany, GA 31705-5934<br>
      USA
    </address>
    <p><strong>Phone</strong><br>
    (800) 424-6301<br>
    (229) 435-5852</p>
    <p><strong>Fax</strong><br>
    (229) 439-0175</p>
    <p><strong>Hours</strong><br>
    Mon-Fri: 8:30am to 5:00pm<br>
    Sat: 8:30am to 12:00pm<br>
    Sun: Closed</p>
  </div>
  <div class="span9">
    
    <h2 style="margin-top: 30px;">Send a Message</h2>
    <hr>
    <%= form_for @contact_message, :url => send_contact_message_path do |f| %>
      <div class="row">
        <div class="control-group span3 <%= @contact_message.errors.has_key?(:name) ? "error": "" %>">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "span3" %>
        </div>
        <div class="control-group span3 <%= @contact_message.errors.has_key?(:email) ? "error": "" %>">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "span3" %>
        </div>
        <div class="control-group span3 <%= @contact_message.errors.has_key?(:phone) ? "error": "" %>">
          <%= f.label :phone %>
          <%= f.text_field :phone, :class => "span3" %>
        </div>
      </div>
      <div class="control-group <%= @contact_message.errors.has_key?(:message) ? "error": "" %>">
        <%= f.label :message %>
        <%= f.text_area :message, :class => "span9", :rows => 10, :maxlength => 1220 %>
      </div>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>