<% content_for :title, "Team RV - RV Dealer in Albany, GA" %>
<% content_for :description, "We provide RV Sales, Parts, and Services to Albany, Valdosta, Columbus, Macon, Tallahassee, Dothan, and Atlanta" %>

<div class="row">
  <div class="span12">
    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/travel_trailer.jpg" alt="">
        </div>
        <div class="item">
          <img src="assets/fifth_wheel.jpg" alt="">
        </div>
        <div class="item">
          <img src="assets/motorhome.jpg" alt="">
        </div>
        <div class="item">
          <img src="assets/camping_trailer.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>RVs</h2>
    <p>We offer new and used camping trailers, travel trailers, fifth wheels, toy haulers, motorhomes, and cargo trailers.</p>
    <p><%= link_to "View RVs", rvs_path, :class => "btn btn-primary" %></p>
  </div>
  <div class="span4">
    <h2>Parts</h2>
    <p>Our parts showroom contains over 12,000 RV parts, accessories, and supplies.</p>
    <p><%= link_to "View parts", parts_path, :class => "btn btn-primary" %></p>
 </div>
  <div class="span4">
    <h2>Services</h2>
    <p>Our certified RV technicians provide superior service, repair, and maintenance for your RV.</p>
    <p><%= link_to "View services", services_path, :class => "btn btn-primary" %></p>
  </div>
</div>

<h2 style="margin-top: 30px;">Featured RVs</h2>
<hr>
<div class="row">
  <% @rvs.each do |rv| %>
   <div class="span3">
      <div style="text-align: center;">
        <% if rv.assets.length > 0 %>
          <a href="<%= rv_path(rv)%>"><%= image_tag rv.assets.first.asset.url(:medium) %></a>
        <% else %>
          <a href="<%= rv_path(rv)%>"><img src="/assets/images_coming_soon_medium.jpg"></a>
        <% end %>
        <div style="padding: 9px 0px 9px 0px">
          <% if !rv.tag[:title].nil? && !rv.tag[:title].empty? %>
            <span class="label <%= get_class_for_color(rv.tag[:color]) %>"><%= rv.tag[:title] %></span>
          <% end %>
          <a href="<%= rv_path(rv) %>" style="color: #333"><h4><%= get_title rv %></h4></a>
          <p><strong><%= number_to_currency rv.price %></strong></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
